body {
    /*Permite el centrado vertical y horizontal*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /*Color del fondo*/
    background-color: #242933;
    font-family: Arial, Helvetica, sans-serif;
}


/*Crear un cuadro con borde y relleno
Colocando el formulario dentro de este contenedor*/

.cuadro-centrado {
    /*Color del fondo*/
    background-color: #2f3644;
    width: 320px;
    /*Reducción del padding-top -> padding superior*/
    padding: 10px 20px 20px;
    border: 1px solid #373e50;
    border-radius: 5px;
    color: #a9b7dd;
    font-size: 15px;
}

.titulo {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: left;
    color: #acbae1;
    /*negrita pero no tanto como bold*/
    font-weight: 600;
}

form {
    display: flex;
    /*Cada campo en una linea apilandose verticalmente*/
    flex-direction: column;
}

label {
    /*Para separar entre etiquetas y entrada*/
    margin-bottom: 5px;
    color: #707996;
}

input {
    /*Aspecto más visual y llamativo*/
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    /*Aspecto más visual y llamativo*/
    padding: 10px;
    /*Color del fondo*/
    background-color: #6c63ff;
    /*Color de la letra*/
    color: #fff;
    /*Color del borde y anchura*/
    border: 2px solid #0B0428;
    /*Radio del borde-esquinas*/
    border-radius: 5px;
    /*Tamaño de letra*/
    font-size: 16px;
    /*Botón interactivo -> cursor dedo*/
    cursor: pointer;
}


/*Propiedades del botón activado*/

button:active {
    /*Color del fondo*/
    background-color: #716bf1;
    /*Color del borde*/
    border: 2px solid #dfdde6;
    /*Color de la letra*/
    color: #fff;
}